<form>
    <h2 class="module-header">Blade and Crown Dice Roller</h2>
    <div>
        <label for="BaCDiceNumberInput">Number of Dice:</label>
        <input type="text" id="BaCDiceNumberInput" name="BaCDiceNumberInput" class="BaCDiceNumberInput" defaultValue="0">
    </div>
    <div>
        <label for="BaCDiceModifierInput">Modifier:</label>
        <input type="text" id="BaCDiceModifierInput" name="BaCDiceModifierInput" class="BaCDiceModifierInput" defaultValue="0">
    </div>
    <div>
        <button name="bac-dice-roller-form_btn-roll">
            <i class="fas fa-dice-d20"></i>Roll!
        </button>
    </div>
</form>